{% extends 'baselayout.html.twig' %}

{% block title %}Liste d'annonces{% endblock %}

{% block main %}
    <h1 class="p-3 text-center">Annonces en {{region.name}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Résumé</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td><a href="/room/{{room.id}}">{{ room.summary }}</a></td> 				
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'annonce pour cette région.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}