<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}
<!-- Bootstrap -->
  <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
<link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">
{% endblock %}
    </head>
    <body>
        {% block body %}
	{% block menu %}{% endblock %} {# menu #}

    {% block main %}MAIN{% endblock %} {# main #}

	    {% endblock %} {# body #}

	{% block footer %}
	<div >
	</div>
	{% endblock %} {# footer #}
</body>
{% block javascripts %}
  <!-- Bootstrap core JavaScript -->
  <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %} {# javascripts #}
{% block custompage_script %}
{% endblock %}
</html>
