{% extends 'base.html.twig' %}

{% block title %}Edit Unavailabilities{% endblock %}

{% block body %}
    <h1>Edit Unavailabilities</h1>

    {{ include('unavailabilities/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('unavailabilities_index') }}">back to list</a>

    {{ include('unavailabilities/_delete_form.html.twig') }}
{% endblock %}
