{% extends 'base.html.twig' %}

{% block title %}New Unavailabilities{% endblock %}

{% block body %}
    <h1>Create new Unavailabilities</h1>

    {{ include('unavailabilities/_form.html.twig') }}

    <a href="{{ path('unavailabilities_index') }}">back to list</a>
{% endblock %}
